.day{
    background: #FFFFFF;
}
.title{
    display: grid;
    grid-template-columns: 72px 1fr;
    height: 40px;
    background: #4B84F4;
    border-bottom: 1px solid rgba(35,35,35,.1);

}
.logoTime{
    display: grid;
    align-items: center;
    justify-self: center;
}
.dayNumber{
    display: grid;
    align-items: center;
    border-left: 1px solid rgba(35,35,35,.1);
    padding: 4px 16px;
    color:#ffffff;
}

.times{
    display: grid;
    grid-template-columns: 72px 1fr;
    border-bottom: 1px solid rgba(35,35,35,.1);
    overflow-y: auto;
    height: calc(100vh - 112px);
}
/*убираете скрол*/
.times {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.times::-webkit-scrollbar {
    width: 0;
    height: 0;
}



.times div{
    height: 72px;
    border-bottom: 1px solid rgba(35,35,35,.1);
}

.hours div{
    display: grid;
    align-items: center;
   justify-content: center;
}
.hours_items  div{
    border-left: 1px solid rgba(35,35,35,.1);
}

.hours_items  div:hover{
    background-color: #F9F9F9;
}
