
.ant-picker-date-panel{
    position: absolute!important;
    top:-30px!important;
    left:16px!important;
}

.datePicker{
    padding-left: 5px;
}

.ant-picker-dropdown{
    width: 168px;
    height: 160px;
}


.ant-picker {
    visibility: hidden!important;
}

.ant-picker-input {
    display: none !important;
}

.ant-picker-panel-container{
    box-shadow: none !important;
}
.ant-picker-header .ant-picker-header-super-next-btn,
.ant-picker-header .ant-picker-header-super-prev-btn{
    display: none !important;
}
.ant-picker-panel{
    border:none !important;

}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
    margin: 0!important;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-body td, .ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
    margin: 0!important;
}

.ant-picker-cell{
    padding: 0 !important;
}
.ant-picker-date-panel .ant-picker-body, .ant-picker-week-panel .ant-picker-body, .ant-picker-month-panel .ant-picker-body{
    padding: 0 !important;
}
.ant-picker-panel-focused, .ant-picker-date-panel, .ant-picker-week-panel, .ant-picker-month-panel ,
.ant-picker-panel-container .ant-picker-panel .ant-picker-content, .ant-picker-panel-container .ant-picker-panel table{
    width: 100% !important;

}
.ant-picker-date-panel .ant-picker-content, .ant-picker-week-panel .ant-picker-content, .ant-picker-month-panel .ant-picker-content{
    width: 100% !important;
    table-layout: auto !important;
}
.ant-picker-month-panel .ant-picker-content {
    height: 174px !important;
}
.ant-picker-header {
    border:none !important;
    padding: 0 5px !important;
}
.ant-picker-content th, .ant-picker-content td{
    font-size: 13px !important;
}
.ant-picker-content th{
    font-size: 12px !important;
    color:#9C9D9F !important;
}

.calendar_table .ant-picker-content thead tr th {
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    text-align: left !important;
    padding-left: 16px !important;
    padding-right: 0 !important;
    height: 30px !important;
    border-right: 1px solid rgba(35, 35, 35, 0.1)!important;
    background-color: #4B84F4;
    position: sticky;
    top:0;
    z-index:1050;
}

.ant-picker-prev-icon, .ant-picker-next-icon, .ant-picker-super-prev-icon, .ant-picker-super-next-icon, .ant-picker-prev-icon::before,
.ant-picker-next-icon::before, .ant-picker-super-prev-icon::before, .ant-picker-super-next-icon::before{
    width: 10px !important;
    height: 10px !important;
    color:#4B84F4 !important;
}
.calendar_table .ant-picker-cell {
    border-bottom: 1px solid rgba(35,35,35,.1)!important;
    border-right: 1px solid rgba(35,35,35,.1)!important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,.ant-picker-week-panel-row-selected td, .ant-picker-week-panel-row-selected:hover td{
    border: 1px solid  #e6f7ff!important;
    opacity: 0.8;

}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner{
    border-radius: 6px !important;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
    border:1px solid #4B84F4 !important;
    border-radius: 6px !important;
    opacity: 0.8;
}
.ant-picker-cell-week, .ant-picker-week-panel table thead tr th:first-child{
    display: none !important;
}
.ant-select-selector{
    box-shadow: 0 1px 5px rgba(55, 55, 55, 0.17) !important;
    border-radius: 8px !important;
    border: none !important;
    padding: 0 20px !important;
    width: 110px !important;
}
.ant-select-item-option-selected{
    font-weight: 400 !important;
}

.ant-picker-month-btn{
    text-transform: capitalize;
}

#root > div > div.SideBar_sidebar__CLrh8 > div:nth-child(3){
    position: absolute!important;
    top:100px!important;
    left:16px!important;
}

/*
.ant-picker-footer{
    display: none;
}
*/

[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

